// Bootstrap Sass
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";

// Customs
@import "variables";
@import "classes";

// Fonts & Icons
@import "../fonts/sf_pro/stylesheet.css"; // FONT - SF PRO Display
@import "../fonts/dana/stylesheet.css"; // FONT - Dana Fa Nums
// ICON
@import "../fonts/fluent/FluentSystemIcons-Resizable.css";

// Boostrap Core
@import "~bootstrap/scss/bootstrap";
@import "~nice-select2/dist/css/nice-select2.css";


.ca-fa {
    font-family: Dana;

    &.rtl *,
    &.rtl {
        direction: rtl;
        text-align: right;
    }

    .lh-xs {
        line-height: 1.4em !important;
    }

    .lh-s {
        line-height: 1.7em !important;
    }

    .lh-m {
        line-height: 1.85em !important;
    }

    .lh-l {
        line-height: 1.9em !important;
    }

    .ca-link {
        border-width: 1px;
        padding-bottom: 0;
    }
}

.ca-link {
    text-underline-offset: 5px;
}

.squircle {
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
}

.nice-select {
    padding-right: 35px;

    .nice-select-dropdown {
        margin-top: 8px;
    }

    &:after {
        height: 12px;
        width: 12px;
        margin-top: -8px;
        border-color: $dark;
    }
}

.btn-default {
    &:hover {
        background-color: $indigo-600;
    }

    &:acitve {
        background-color: $indigo-700;
    }

    &:focus {
        background-color: $indigo-700;
        color: $white;
    }
}

.btn {
    &[disabled] {
        color: $grey-dark !important;
        opacity: 1 !important;
    }
}

// Temporary
body {
    background: #f4f7fe;
}
