.ca-fa {
    font-family: Dana !important;

    &.rtl *,
    &.rtl {
        direction: rtl;
        text-align: right;
    }

    // Buttons
    .ca-btn-primary {
        padding: 10px 32px;
    }

    .ca-btn-secondary {
    }

    .ca-btn-tertiary {
    }

    /**
    * Line heights
    */
    .lh-xs {
        line-height: 1.4em !important;
    }

    .lh-s {
        line-height: 1.7em !important;
    }

    .lh-m {
        line-height: 1.85em !important;
    }

    .lh-l {
        line-height: 1.9em !important;
    }

    .fs {
        &-xl-1 {
            line-height: 1.4em;
        }

        &-xl-2 {
            line-height: 1.4em;
        }

        &-xl-3 {
            line-height: 1.4em;
        }

        &-xl-4 {
            line-height: 1.4em;
        }

        &-xl-5 {
            line-height: 1.7em;
        }

        &-xl-6 {
            line-height: 1.7em;
        }

        &-1 {
            line-height: 1.7em;
        }

        &-2 {
            line-height: 1.7em;
        }

        &-3 {
            line-height: 1.8em;
        }

        &-4 {
            line-height: 1.85em;
        }

        &-5 {
            line-height: 1.9em;
        }

        &-1 {
            line-height: 1.9em;
        }
    }
}
