@font-face {
    font-family: Dana;
    src: url("./DanaFaNum-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Dana;
    src: url("./DanaFaNum-Fat.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: Dana;
    src: url("./DanaFaNum-Bold.ttf") format("truetype");
    font-weight: 700;
}
